.order-summary {
  min-width: 40rem;
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: 0px 3rem 4rem -1.2rem rgba(56, 41, 224, 0.2);

  @media only screen and (max-width: 30em) {
    margin: 2.5rem;
  }

  &__details {
    padding: 5rem;

    @media only screen and (max-width: 30em) {
      padding: 4rem 3.5rem;
    }

    &--description {
      margin-block-start: 2rem;
      padding-inline: 2rem;
    }

    &--plan {
      margin-block-start: 2.5rem;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 2.5rem;

      & .plan-details {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-inline-start: 2rem;
      }

      & .plan-change {
        margin-inline-start: auto;
        text-decoration: underline;
      }
    }

    &--btn {
      width: 100%;
      display: inline-block;
      margin-block-start: 3.5rem;
      padding-block: 1.5rem;
      border: none;
      border-radius: 1.2rem;
      box-shadow: 0 2rem 2.5rem rgba(56, 41, 224, 0.3);
    }

    &--cancel-order {
      margin-block-start: 3.5rem;
      display: block;
    }
  }
}
